.Event{
  padding: 7rem 0;
  background: #f5f5f5;
  &-carousel{
    &-col{
      padding: 0 10px;
    }
    &-item{
      &-image{
        .ant-skeleton-element{
          height: 22.9rem;
        }
        img{
          width: 100%;
          display: block;
          height: auto;
          border-radius: 1rem;
        }
      }
    }
  }
}
