.About{
  padding: 5rem 0;
  &-content{
    font-size: 18px;
  }
  img{
    border-bottom-left-radius: 5rem;
    width: 100%;
  }
  .ant-skeleton-element .ant-skeleton-image{
    height: 30rem;
  }
}
