@import '@/assets/styles/_global.scss';

.FilterCategory {
  border-radius: 1.2rem;
  background: $outer-space;
  padding: 1.6rem 2.4rem;

  &-wrapper {
    position: sticky;
    top: calc(16.8rem - 3.2rem * 2);
    // @include styleScrollBar();

    @media (min-width: 992px) {
      max-height: calc(100vh - 12rem);
      overflow: hidden auto;
    }
  }

  &-header {
    margin-bottom: 1.6rem;
    column-gap: 1.2rem;

    &-icon {
      .Icon {
        width: 2.4rem;
        height: 2.4rem;
      }
    }

    &-title {
      font-family: 'Poppins', sans-serif;
      color: $white;
      font-size: 2.4rem;
      font-weight: 600;
    }

    &-all {
      font-size: 1.4rem;
      font-family: 'Poppins', sans-serif;
      cursor: pointer;
      color: $lynch;
      transition: $common-transition;
      margin-left: auto;
      column-gap: .4rem;

      .Icon {
        flex: 0 0 2rem;
        max-width: 2rem;
        width: 2rem;
        height: 2rem;
      }

      &.active {
        color: $radical-red;

        &:hover {
          color: darken($radical-red, 10%);
        }
      }

      &:hover {
        color: lighten($lynch, 10%);
        @include iconColor(lighten($lynch, 10%));
      }
    }
  }
}
