@import '@/assets/styles/_global.scss';

.Icon {
  img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }

  svg {
    width: 100%;
    height: 100%;
  }

  .stroke,
  .fill {
    transition: $common-transition;
  }
}
