@import '@/assets/styles/_global.scss';

.GuestLayout {
  &-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
    background: $white;
  }

  &-body {
    padding-top: calc(10.8rem + 2.4rem);
    @media (max-width: 768px) {
      padding-top: 0;
    }
  }

  &-ontop {
    position: fixed;
    bottom: 3.2rem;
    right: 3.2rem;
    z-index: 10;
    transition: $common-transition;
    transform: translateY(100%);
    opacity: 0;
    visibility: hidden;

    &.visible {
      visibility: visible;
      transform: translateY(0);
      opacity: 1;
    }

    .Button-icon {
      transform: rotate(180deg);
    }
  }
  .Navigation-bottom-mobile{
    position: fixed;
    bottom: 0;
    height: 50px;
    background: $gradient-blue;
    width: 100%;
    left: 0;
    z-index: 999;
    &-wrapper{
      display: flex;
      align-items: center;
      justify-content: space-around;
      height: 100%;
      &-item{
        display: flex;
        flex-direction: column;
        span{
          display: block;
          font-size: 1.8rem;
          color: $white;
        }
        &-link{
          .anticon svg{
            font-size: 2.5rem;
          }
        }
      }
    }
  }
}
