/*
- Please follow this tool to name your color, then please define the color in src/common-types/ui.ts also
  https://chir.ag/projects/name-that-color/#6195ED

- If colors same name, please add suffix. Ex: persian-blue, persian-blue-dark, persian-blue-light, ...
*/

$white: #ffffff;
$black: #000000;

$shark: #1E252B;
$outer-space: #2C353D;
$lynch: #65819A;
$heather: #B5C3CE;
$pale-sky: #667085;
$radical-red: #FF1B6D;
$ship-cove: #748FB5;
$fiord: #42526E;
$dodger-blue: #3562FF;
$oslo-gray: #96999C;
$limed-spruce: #3C4853;
$screamin-green: #58FF55;