@import '@/components/Input/Input.scss';
@import '@/components/TextArea/TextArea.scss';
@import '@/components/Button/Button.scss';
@import '@/components/Checkbox/Checkbox.scss';
@import '@/components/Avatar/Avatar.scss';
@import '@/components/WrapperLazyLoad/WrapperLazyLoad.scss';
@import '@/components/Icon/Icon.scss';
@import '@/components/DropdownMenu/DropdownMenu.scss';
@import '@/components/DropdownCustom/DropdownCustom.scss';
@import '@/components/Modal/Modal.scss';
@import '@/components/Tag/Tag.scss';
@import '@/components/DatePicker/DatePicker.scss';
@import '@/components/Table/Table.scss';
@import '@/components/Pagination/Pagination.scss';
@import '@/components/Select/Select.scss';
@import '@/components/SelectMultiple/SelectMultiple.scss';
@import '@/components/Tabs/Tabs.scss';
@import '@/components/Carousels/Carousels.scss';
@import '@/components/Upload/Upload.scss';
@import '@/components/UploadImage/UploadImage.scss';
@import '@/components/Breadcrumb/Breadcrumb.scss';
@import '@/components/Empty/Empty.scss';
@import '@/components/CkEditor/CkEditor.scss';
@import '@/components/SelectLanguage/SelectLanguage.scss';
@import '@/components/KolCard/KolCard.scss';
@import '@/components/AdBlock/AdBlock.scss';
@import '@/components/MultipleCheckboxCollapse/MultipleCheckboxCollapse.scss';
@import '@/components/Steps/Steps.scss';
@import '@/components/TagSelect/TagSelect.scss';
@import '@/components/DragDropImages/DragDropImages.scss';
@import '@/components/Video/Video.scss';

@import '@/containers/Header/Header.scss';
@import '@/containers/Footer/Footer.scss';
@import '@/containers/CarouselKolCards/CarouselKolCards.scss';
@import '@/containers/Header/DrawerMenuMobile/DrawerMenuMobile.scss';
@import '@/containers/HighlightKol/HighlightKol.scss';
@import '@/containers/FindKol/FindKol.scss';
@import '@/containers/FindKol/FilterCategory/FilterCategory.scss';
@import '@/containers/FindKol/FilterCard/FilterCard.scss';
@import '@/containers/ContactCardKol/ContactCardKol.scss';
@import '@/containers/InfoDetailKol/InfoDetailKol.scss';
@import '@/containers/GalleryKol/GalleryKol.scss';
@import '@/containers/GalleryKol/ViewGalleryModal/ViewGalleryModal.scss';
@import '@/containers/TabsKol/TabsKol.scss';
@import '@/containers/TabsKol/TableSchedules/TableSchedules.scss';
@import '@/containers/TabsKol/Services/Services.scss';
@import '@/containers/SignUpForm/StepReview/StepReview.scss';

@import '@/layouts/AuthLayout/AuthLayout.scss';
@import '@/layouts/GuestLayout/GuestLayout.scss';

@import '@/pages/profile/[id]/ProfileDetail.scss';
@import '@/pages/login/Login.scss';
@import '@/pages/sign-up/SignUp.scss';
@import '@/pages/static/StaticContent.scss';