@import '@/assets/styles/_global.scss';

.Footer {
  background: $gradient-blue;
  padding: 6.4rem 0;
  overflow: hidden;

  &-title{
    margin-bottom: 3.2rem;
    font-size: 2.2rem;
    font-weight: 700;
    color: #fff;
  }
  &-copyright {
    margin-top: 2.4rem;
    padding-top: 2.4rem;
    border-top: 1px solid rgba($ship-cove, 0.15);
  }

  &-list {
    &-item {
      a {
        display: block;
        color: #fff;
        font-size: 1.8rem;
        transition: .3s ease;
        &:hover,
        &.active {
          color: #f1592a;
        }
      }
      &:not(:last-child){
        margin-bottom: 1.5rem;
      }
    }
  }

  &-description {
    font-size: 1.6rem;
    color: white;
  }
}
