@import '@/assets/styles/_global.scss';

.GalleryKol {
  &-wrapper {
    row-gap: 3.2rem;
    height: 100%;

    @media (max-width: 1200px) {
      row-gap: 1.2rem;
    }
  }

  &-carousel {
    position: relative;
    border-radius: 1.6rem;
    overflow: hidden;

    &-item {
      height: 50rem;
      @include centerScaleImage;

      @media (max-width: 1200px) {
        height: calc(53vw - 1.2rem * 2);
      }

      .Video {
        &-play {
          .Icon {
            width: 9.6rem;
            height: 9.6rem;
          }
        }
      }
    }

    &-action {
      position: absolute;
      z-index: 2;
      left: 2.4rem;
      bottom: 2.4rem;
      padding: 1.2rem;
      height: 4rem;
      backdrop-filter: blur(4px);
      background: rgba($outer-space, 0.5);
      border-radius: 10rem;
      column-gap: 1.2rem;

      &-title {
        font-size: 1.6rem;
        color: $white;
      }

      .Button {
        .ant-btn {
          height: 3.2rem;
        }
      }
    }
  }

  &-list {
    @media (max-width: 1200px) {
      &>.ant-row {
        margin-left: -0.6rem !important;
        margin-right: -0.6rem !important;

        &>.ant-col {
          padding-left: 0.6rem !important;
          padding-right: 0.6rem !important;
        }
      }
    }

    &-item {
      position: relative;
      border-radius: 1.6rem;
      overflow: hidden;
      @include centerScaleImage;
      cursor: pointer;
      transition: $common-transition;

      &.review {
        height: 15rem;

        @media (max-width: 575px) {
          height: calc(100vw / 3 - 1.2rem * 3)
        }
      }

      &.detail {
        height: 21.6rem;

        @media (max-width: 1200px) {
          height: calc(100vw / 4 - 1.2rem * 2)
        }
      }

      &:hover {
        opacity: 0.7;
      }

      &-overlay {
        @include fullAbsolute;
        color: $white;
        font-weight: 600;
        background: rgba($black, 0.8);

        &.review {
          font-size: 2.4rem;

          @media (max-width: 575px) {
            font-size: 1.8rem;
          }
        }

        &.detail {
          font-size: 3.2rem;

          @media (max-width: 768px) {
            font-size: 2.4rem;
          }

          @media (max-width: 575px) {
            font-size: 1.8rem;
          }
        }
      }
    }
  }
}
